include includes/login_main_page.pug
block content
   <tr> 
   <td>  
    .login-panel
        
        include includes/login-form
   </tr> 
   </td>
   <tr> 
   <td> 
    .register-panel 
        img(src="img/register-img.png")
        include includes/register-form
    </tr> 
    </td>
    <tr> 
    <td> 
    .chatbot
        img(src="img/chatbot.png")
        include includes/chatbot
    </tr> 
    </td>