form( method="post" action="/login" )
   h1(style= "text-align:center; color: white"  ) WellsFargo Digital Will Space
   h3(style=" color: white") Already have login
    table 
        tr 
            td <p><font color="white"> Username</font></p>  
            td 
                input(style="text-align:center;" type="text" name="username"  )
        tr 
            td <p><font color="white"> Password</font></p> 
            td 
                input(style="text-align:center;" type="password" name="password")
        tr 
            td
            td
                input(style="text-align:center;" type="submit" value="Login")