form(method="post" action="/register")
    table 
        tr
            td <p><font color="white"> Username</font></p> 
            td 
                input(type="text" name="username")
        tr 
            td  <p><font color="white"> Fullname</font></p>  
            td 
                input(type="text" name="fullname")
        tr 
            td <p><font color="white"> Password</font></p>   
            td 
                input(type="password" name="password")
        tr 
            
            td
            td
                input(type="submit" value="Register")